.app {
  background-color: cadetblue;
  height: 100vh;
  width: 100%;
}
.header {
  display: block;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}
.input_text {
  height: 30px;
  width: 80vw;
  margin: auto;
  display: block;

  border: 10px solid rgb(224, 174, 174);
  outline: none;
  margin: 10px auto;
  font-size: 20px;
}
.textarea {
  background-color: white;
  width: 90%;
  height: 40vh;
  display: block;
  margin: auto;
  font-size: 25px;
  padding: 20px;
  overflow-y: scroll;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}
.marked {
  background-color: rgba(80, 211, 211, 0.5);
  border: 1px solid rgb(43, 82, 82);
}
h2 {
  text-align: center;
}
#text_change {
  background-color: white;
  width: 90%;
  height: 20vh;
  display: block;
  margin: auto;
  font-size: 25px;
  padding: 20px;
  overflow-y: scroll;
}
